//------------------------------------------------------------------------------
// Homepage
//------------------------------------------------------------------------------

.title-outer-16d0f {
  background: #f3f3f3;
}

.title-inner-df992 {
  margin: 0 auto;
  padding: 170px 0;
  width: 1200px;
}

.title-2febf {
  .font-light(120px);
  margin: 0;
  padding: 0 0 15px 0;
}

.sub-d57b3 {
  color: #999;
  .font-bold(36px);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}

@cljDarkBlue: #5a83d5;

.header-outer-a295e {
  background: @cljDarkBlue;
}

.header-inner-e9e98 {
  color: #fff;
  margin: 0 auto;
  padding: 20px 0;
  width: 1200px;
}

.main-link-bb01a {
  color: #fff;
  .font-bold(26px);
  text-decoration: none;
  text-transform: uppercase;
}

.info-9c06a {
  color: #fff;
  .font-light(18px);
  text-transform: lowercase;
}