@import "normalize-3.0.1.less";
@import "elements-0.9.less";
@import "font-awesome-4.2.0.less";

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

@font-face {
  font-family: 'Open Sans Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'), local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans.eot');
  src: local('Open Sans'), local('OpenSans'),
    url('../fonts/OpenSans.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Semibold.eot');
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'),
    url('../fonts/OpenSans-Semibold.woff') format('woff');
}

@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/SourceCodePro-Regular.eot');
  src: local('Source Code Pro'), local('SourceCodePro-Regular'),
    url('../fonts/SourceCodePro-Regular.woff') format('woff');
}

.font-light(@size) {
  font-family: 'Open Sans Light';
  font-size: @size;
  font-weight: 300;
}

.font-normal(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 400;
}

.font-bold(@size) {
  font-family: 'Open Sans';
  font-size: @size;
  font-weight: 600;
}

//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

@linkBlue: #0000ee;

//------------------------------------------------------------------------------
// Tag Selectors
//------------------------------------------------------------------------------

body {
  color: #222;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
}

code {
  font-family: "Droid Sans Mono";
}

.clr-43e49 {
  clear: both;
}

.wrapper-cc101 {
  margin: 0 auto;
  width: 1200px;
}

.header-2a8a6 {
  margin: 10px 0 20px 0;
}

.logo-6ced3 {
  display: block;
  float: left;
  margin-right: 5px;
  width: 40px;
}

.title-7a29c {
  float: left;
  .font-light(28px);
  margin: 0;
  padding: 0;
}

.tooltips-label-68aa0 {
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  margin: 10px 15px 0 0;

  .fa {
    margin-right: 4px;
  }
}

.search-70fb8 {
  float: right;
  padding: 5px 10px;
  width: 300px;
}

.title-0b151 {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 82px;
  text-align: center;
  text-transform: none;
}

.made-6bccb {
  color: #999;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 32px;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.js-48d1f {
  font-family: "Open Sans";
  font-size: 64px;
  font-weight: 300;
  text-align: center;
}

.simple-ef853 {
  font-family: "Open Sans";
  font-size: 124px;
  font-weight: 300;
  text-align: center;
}

.group-title-68f3c {
  border-bottom: 2px solid #ddd;
  clear: both;
  .font-bold(14px);
  margin-bottom: 20px;
  padding: 0 0 5px 0;
  text-transform: uppercase;
}

.section-31efe {
  float: left;
  margin: 0 15px 40px 0;
  width: 380px;
}

.section-title-8ccf5 {
  .font-light(28px);
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
}

.tbl-902f0 {
  width: 100%;
}

.tooltip-link-0e91b {
  color: #888;
  cursor: pointer;
  font-size: 12px;
  margin-left: 6px;
  vertical-align: middle;
}

.label-9e0b7 {
  color: #666;
  .font-bold(11px);
  padding: 10px;
  text-transform: uppercase;
  width: 60px;
}

.body-885f4 {
  padding: 8px 8px 0 8px;
}

.info-a8579 {
  color: @linkBlue;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
  text-transform: lowercase;
}

.code() {
  display: inline-block;
  font-family: "Droid Sans Mono", monospace;
  font-size: 14px;
}

.literal-c3029 {
  .code();
  color: #000;
  margin: 0 12px 8px 0;
}

.inside-fn-c7607 {
  .code();
  color: @linkBlue;
  cursor: pointer;
}

.inside-fn-c7607:hover {
  text-decoration: underline;
}

.fn-a8476 {
  .code();
  color: @linkBlue;
  cursor: pointer;
  margin: 0 12px 8px 0;
}

.fn-a8476:hover {
  text-decoration: underline;
}

.literal-block-5dec8 {
  .code();
  color: #000;
  display: block;
  margin: 0 12px 8px 0;
}

.odd-372e6 {
  background-color: #e2e2e2;
}

.even-ff837 {
  background-color: #f1f1f1;
}

.big-literal-3beb2 {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}

.tooltip-53dde {
  background: #333;
  color: #fff;
  margin: -20px 0 0 20px;
  max-width: 350px;
  padding: 15px;
  position: absolute;
  .rounded(6px);
  z-index: 10;

  p {
    font-size: 14px;
  }
}

.tooltip-53dde:after {
  right: 100%;
  top: 26px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(54, 54, 54, 0);
  border-right-color: #363636;
  border-width: 8px;
  margin-top: -8px;
}

.tt-title-02d39 {
  .font-light(24px);
  margin: 0 0 15px 0;
  padding: 0;
}

.pin-msg-3fae4 {
  float: right;
  font-size: 12px;
  font-style: italic;
  top: 15px;
}

.pin-0ad63 {
  float: right;
  font-size: 12px;
  top: 15px;
  .transform(rotate(45deg));
}