@import "normalize-3.0.1.less";
@import "elements-0.9.less";

//------------------------------------------------------------------------------
// Fonts
//------------------------------------------------------------------------------

// TODO: pick a font

//------------------------------------------------------------------------------
// Variables
//------------------------------------------------------------------------------

@linkBlue: blue;

//------------------------------------------------------------------------------
// Tag Selectors
//------------------------------------------------------------------------------

body {
  color: #444;
  font-weight: 400;
  font-size: 16px;
}

.wrapper-cc101 {
  margin: 0 auto;
  width: 1200px;
}

.title-0b151 {
  color: #444;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 82px;
  text-align: center;
  text-transform: none;
}

.made-6bccb {
  color: #999;
  font-family: "Helvetica";
  font-weight: 400;
  font-size: 32px;
  margin: 0 20px;
  text-align: center;
  text-transform: uppercase;
}

.js-48d1f {
  color: #444;
  font-family: "Open Sans";
  font-size: 64px;
  font-weight: 300;
  text-align: center;
}

.simple-ef853 {
  color: #444;
  font-family: "Open Sans";
  font-size: 124px;
  font-weight: 300;
  text-align: center;
}

.section-31efe {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin-bottom: 30px;
}

.section-title-8ccf5 {
  font-size: 24px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
}

.label-9e0b7 {
  color: #888;
  font-size: 12px;
  font-weight: 600;
  padding: 10px;
  text-transform: uppercase;
}

.info-a8579 {
  color: @linkBlue;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
  text-transform: lowercase;
}

.code() {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-size: 15px;
}

.literal-c3029 {
  .code();
  color: #000;
  margin: 3px 10px 3px 0;
}

.inside-fn-c7607 {
  .code();
  color: @linkBlue;
  cursor: pointer;
  text-decoration: underline;
}

.fn-a8476 {
  .code();
  color: @linkBlue;
  cursor: pointer;
  margin: 3px 10px 3px 0;
  text-decoration: underline;
}

.block-4a5f9 {
  display: block;
}

.odd-372e6 {
  background-color: #f1f1f1;
}

.even-ff837 {
  background-color: #fcfcfc;
}

.big-literal-3beb2 {
  display: inline-block;
  font-family: "Source Code Pro", monospace;
  font-size: 24px;
  font-weight: 400;
  margin-right: 10px;
}