//------------------------------------------------------------------------------
// Threading Macro Animations
//------------------------------------------------------------------------------

.wrapper-614a2 {
  margin: 0 auto;
  width: 1200px;
}

.top-e1133 {
  margin: 40px 0 40px 0;
}

.frames-4fe74 {
  margin-bottom: 100px;
}

.small-frame-ac2ae {
  background: #3c3c3c;
  color: #fff;
  cursor: pointer;
  float: left;
  font-size: 14px;
  font-family: "Droid Sans Mono";
  margin: 0 50px 40px 0;
  position: relative;
  .opacity(.5);
}

.small-char-3142f {
  position: absolute;
  text-align: center;
}

.outer-d18c5 {
  height: 100px;
  margin: 40px 0 0 0;
  overflow-x: hidden;
  position: relative;
}

.big-screen-39c87 {
  margin: 0 0 10px 50px;
  position: relative;
  width: 100%;
}

.big-char-6b108 {
  color: #fff;
  font-family: "Droid Sans Mono";
  font-size: 70px;
  position: absolute;
  text-align: center;
}

.red-ccca5 {
  color: #f92672;
}

.big-num-c7cf6 {
  color: #8f908a;
  font-family: "Droid Sans Mono";
  font-size: 50px;
  padding-top: 20px;
  position: absolute;
  text-align: center;
}

.active-frame-938e5 {
  .opacity(1);

  .step-e483d {
    color: #fff;
  }
}

.small-num-59b3c {
  color: #8f908a;
  cursor: default;
  font-size: 11px;
  padding-top: 4px;
  position: absolute;
}

.step-e483d {
  color: #888;
  .font-bold(11px);
  position: absolute;
  text-transform: uppercase;
  top: -22px;
}

.btn-db258 {
  background: #b1ef35;
  border: 0;
  display: inline-block;
  .font-bold(14px);
  padding: 8px 16px;
  .rounded(4px;);
  text-transform: uppercase;
  -webkit-appearance: none;

  .fa {
    font-size: 12px;
    margin-right: 6px;
  }
}

.btn-db258:focus {
  outline: 0;
}

#pauseButton {
  background: #8f908a;
}

.buttons-38e39 {
  margin-bottom: 60px;
}