pom.xml
*jar
/lib/
/classes/
/out/
/target/
.lein-deps-sum
.lein-repl-history
.lein-plugins/

*.swp

00-publish
app.js
config.json
/node_modules/
/public/cheatsheet/docs.json
/public/css/main.min.css
/public/js/client.js
/public/js/client.min.js
/public/js/cheatsheet.js
/public/js/cheatsheet.min.js
/public/out/
publish.sh

.DS_Store

# ignore diffs
*.diff

/docs-generated
