[submodule "scripts/get-symbol-metadata/code-to-parse/clojure"]
	path = scripts/cljs-api-parser/repos/clojure
	url = https://github.com/clojure/clojure
[submodule "scripts/get-symbol-metadata/code-to-parse/clojurescript"]
	path = scripts/cljs-api-parser/repos/clojurescript
	url = https://github.com/clojure/clojurescript.git
[submodule "scripts/cljs-api-parser/repos/core.async"]
	path = scripts/cljs-api-parser/repos/core.async
	url = https://github.com/clojure/core.async.git
