[submodule "scripts/get-symbol-metadata/code-to-parse/clojure"]
	path = scripts/get-symbol-metadata/code-to-parse/clojure
	url = https://github.com/clojure/clojure
[submodule "scripts/get-symbol-metadata/code-to-parse/clojurescript"]
	path = scripts/get-symbol-metadata/code-to-parse/clojurescript
	url = https://github.com/clojure/clojurescript.git
